/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* FONTS */
h1,
h2,
h3 {
  margin: 0;
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.drink-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.drink-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.drink-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.drink-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new drink form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* SHELF */

/* SPLIT */
.shelf-container {
  background-image: url("../src/images/background.png");
  height: 100vh;
  overflow: hidden;
  text-align: center;
  margin-top: 0;
}

/* SHELF SIDES */
.shelf-sides {
  margin: 0 7% 0 7%;
  height: 100vh;
}

/* SHELF ITEMS */
.items-window {
  padding-top: 5%;
  margin: 0% 0 5% 0;
}

/* GRID */

.grid-parent {
  margin: 0 10% 0 10%;
  border-radius: 15px;
  padding-bottom: 5%;
}

.grid-container {
  margin: auto;
  width: 355px;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  /* background-color: #2196F3; */
  padding: 15px 5px 0 5px;
  grid-gap: 20px 10px;
}

.grid-container-drinks-list {
  margin: auto;
  width: 445px;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px;
  /* background-color: #2196F3; */
  padding: 15px 5px 0 5px;
  grid-gap: 10px 0;
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8); */
  height: 100px;
  width: 80px;
  padding: 0px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
}

.grid-item:hover {
  background-color: rgba(97, 88, 88, 0.25);
  opacity: 0.9;
  cursor: pointer;
}

/* NAVIGATION SECTION / MACHINE BOTTOM */
.machine-bottom {
  width: 375px;
  margin: auto;
  height: 145px;
}

.task-box {
  height: 60px;
}

.nav-left {
position: absolute;
left: 113px;
bottom: 45px;
}

.nav-left-2 {
  position: absolute;
left: 113px;
bottom: 45px;
margin-left: 8.5px;
}

.nav-right {
  text-align: left;
  padding: 5px 0 0 14px;
}

.nav-right-2 {
  text-align: left;
  padding: 5px 0 0 14px;
  margin-top: 6.5px;
}

.nav-container {
  text-align: center;
}

.nav-button {
  margin: 0 auto;
}

.nav-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.back-button {}

.back-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.finish-button {
margin-left: 83px;
}

.finish-button:hover {
  opacity: 0.6;
}

.details-button {

}


.details-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* CONTENT */

/* SPLIT */
.content-container {
  background-color: blue;
  height: 100vh;
  overflow: hidden;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 96.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.popup-div {
  display: flex;
  align-items: center;
  justify-content: center;
}