@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.stopwatch {
    border: 3px solid #72ddf7;
    padding: 10px;
    height: 235px;
      
}

.buttons {
    background-color: #8093f1; 
    border-radius: 15px;
    border: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons button {
    border-radius: 5px;
}

.numbers {
    font-size: 7vh;
    margin: 0 auto;
}